* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

body {
    background: #A3C7D6;
    color: #3F3B6C;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 10px 10%;
    font-weight: 700;
    /* border: red solid 2px; */
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    width: 140px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a {
    color: #3F3B6C;
    text-decoration: none;
    font-size: 30px;
    position: relative;
}

nav ul li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #9F73AB;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

.header-text {
    margin-top: 20%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 60px;
    margin-top: 20px;
}

.header-text h1 span {
    color: #624F82;
}

#about {
    padding: 80px 0;
    
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.sub-title {
    font-size: 60px;
}

.sub-contents{
    font-weight: 500;
    font-size: 30px;
    color: #624F82;
    margin-top: 20px;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px; 
}

.tab-links {
    margin-top: 30px;
    margin-right: 50px;
    font-size: 25px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #9F73AB;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 50%;
}

.tab-contents ul li {
    font-size: 20px;
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    font-weight: 500;
    color: #624F82;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

#services {
    padding: 30px 0;
}

.services-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div {
    background: #3F3B6C;
    color: #9F73AB;
    padding: 30px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i {
    font-size: 50px;
}

.services-list div h2 {
    font-size: 30px;
    font-weight: 600;
    margin: 15px 0;
}

.services-list div a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover {
    background: #9F73AB;
    color: #3F3B6C;
    transform: translateY(-10px);
}


